table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  th {
    background-color: #da2121;
  }
  
  td:hover {
    background-color: #e40505;
  }
  